
# system-wide common virtualenv

# openai
openai

# anthropic
anthropic

# neovim
neovim

# python-lsp/python-lsp-server
python-lsp-server[all]

# numpy
numpy

# pandas
pandas

# matplotlib
matplotlib

# ipython
ipython
